<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.solsort.blobshot"
        version   = "1.0.0">

    <name>Blobshot</name>
    <date>2012-05</date>

    <shortdescription>Simple game prototype from hackathon</shortdescription>
    <description>
        Red blobs are attacking and you have to help the green blobs to keep them at bay for as long as possible. 
        Simple arcade game, created during the weekend hackathon at 5apps in Berlin, and (open source) code available at http://github.com/rasmuserik/.

        Click on the screen to launch a green blob, - the longer you wait the larger the blob will be. Each green blob costs 1 score.
        When red and green blobs collide, they disappear, and you get 20 score. Get as high a score as possible before the red blobs gets through your defences :)
    </description>

    <author href="http://solsort.com/" email="blobshot@solsort.com">
        Rasmus Erik
    </author>

    <icon src="icon.png" />
    <!--splash src="www/assets/splash.png" /-->

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />

    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" /> 
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="false" />

    <!--feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/device" /-->

 
    <engine name="android" />
    <platform name="android">
       <preference name="android-installLocation" value="internalOnly" /> 
       <!--preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /--> 
    </platform>

    <!--engine name="ios" />
    <platform name="ios">
        <preference name="target-device" value="universal" />
        <preference name="prerendered-icon" value="false" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="detect-data-types" value="false" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="deployment-target" value="7.0" />
    </platform-->

    <engine name="browser" />
    <engine name="ubuntu" />

    <!--
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    ios:
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    android:
        <allow-intent href="market:*" />

    -->
</widget>
